.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-left-14{
    margin-left: 14px;
    border-radius: 4px;
}

.border-radius-4{
    border-radius: 4px;
}

.width-268{
    width: 268px;
  }

  .width-260{
    width: 260px;
  }

